<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/static/css/normalize.css?<%= version %>">
    <link rel="stylesheet" href="/static/css/milligram.min.css?<%= version %>">
    <link rel="stylesheet" href="/static/css/style.css?<%= version %>">

    <script type="text/javascript" src="/static/js/utils.js?<%= version %>"></script>
</head>

<body>
    <nav class="navigation">
        <section class="container">
            <a class="navigation-title" href="/">
                &nbsp;<h1 class="title">useful services</h1></a>
            <ul class="navigation-list float-right">
            </ul>
            </section>
    </nav>
    <div class="container">
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="column">
                <a href="/">useful-services</a>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="column">
                <%- content %>
            </div>
        </div>
    </div>
</body>

</html>
